<div id="page-content">
  <h1 class="text-center mt-4">add new category</h1>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <%= render 'shared/errors', obj: @category %>
        <%= form_with(model: @category, local: true, class: "shadow p-3 mb-3 bg-white rounded") do |f| %>
          <div class="form-group row mb-3">
            <%= f.label :name, "name", class:"col-2 col-form-label" %>
            <div class="col-10">
              <%= f.text_field :name, placeholder: "enter a new category name", class:"form-control shadow rounded"%>
            </div>
          </div>
          <div class="form-group row justify-content-center">
            <%= f.submit class:"btn btn-outline-success btn-lg w-25" %>
          </div>
        <% end %>
        <div class="text-center">
          <%= link_to 'cancel and return to articles', articles_path, class:"text-light text-decoration-none"%>
        </div>
      </div>
    </div>
  </div>
</div>
